<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
</head>
<body>
    <div>
        <p id="username"><span>用户名：<%=username%></span></p>
        <p id="nickname"><span>昵称：<%=nickname%></span></p>
        <p id="userhead"><span>头像:</span><img src="<%=userhead%>"></p>
       <form action="/uploadUserHead" method="post" enctype="multipart/form-data">
           <input type="hidden" name="username" value=<%=username%>>
           <span>上传头像:</span><input type="file" name="userhead">
           <input type="submit" value="提交">
       </form>
        <form action="/updateNickName" method="post" >
            <input type="hidden" name="username" value=<%=username%>>
            <span>新昵称：</span><input type="text" name="nickname">
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>